.contenedor {
    /* background-color: red; */
    width: 80%;
    /* height: 500px; */
    margin: 20px auto;
    overflow-y: auto;
}

h1 {
    text-align: center;
    padding: 20px;
}

.menu {
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

.menu>ul {
    padding: 10px;
}

.menu>ul>li {
    display: inline-block;
    margin-right: 90px;
}

.menuLateral {
    background: black;
    color: white;
    padding: 0px;
    height: 500px;
    width: 15%;
    float: left;
    margin-right: 5%;
    
}

.menuLateral>ul {
    padding: 10px;

}

.menuLateral li {
    list-style: none;
    margin-bottom: 25px;
}

* {
    margin: 0px;
    padding: 0px ;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

.articulo{
    border: 1px solid black;
    border-radius:  20px;
    padding: 20px;
    text-align: center;
    width: 25%;
    float: left;
    height: 50%;
    font-size: 10px;
}

.contendorParrafo{
    column-count: 3;
    column-width: 20%;
    float: left;
    width: 80%;
    margin-top:2%;

}
.contendorParrafo > p{
    float: left;
}
.contendorArticulos{
    width: 80%;
    float: left;
    

}


.footer{
    background-color: gray;
    clear: both;
    text-align: center;
    padding: 20px;
}